body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  background: #EAEAEA;
  padding: 40px;
  border-radius: 50px;
  width: 100%;
  max-width: 812px;
  margin: 60px auto;
}

.header {
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid #BBBBBB;
  padding-bottom: 12px;
  margin-bottom: 47px;
}

header.App-header {
  padding: 0 46px;
  margin-bottom: 50px;
}

.header-logo {
  border-bottom: 1px solid #D9D9D9;
}

.title {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.content {
  padding: 0 10%;
}

.header p {
  margin: 0;
  font-size: 26px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

label {
  color: #444;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.row .input-row input {
  margin-bottom: 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
  outline: none;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus {
  outline: 1px solid rgb(150, 150, 150);
}

.row {
  display: flex;
  justify-content: space-between;
}

.row .input-form {
  width: calc(50% - 9px);
}

.row .input-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.row .input-row .dollar-icon {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  color: #A8A8A8;
  margin-right: 14px;
}

.button-container {
  /* text-align: center; */
  padding-top: 10px;
}

.button-container button {
  padding: 12px 30px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  height: 71px;
  width: 287px;
}

.button-container button:disabled {
  background-color: #8B8B8B;
}

button:hover {
  background-color: #003d82;
}

#modal,
#overlay {
  position: fixed;
  top: 50%;
  width: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal {
  padding: 20px 20px 40px 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#overlay {
  width: 100%;
  height: 100%;
  background-color: #0000009C;
}

.content .payment-heading {
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}

#closeModalButton {
  border: none;
  background: #ff000000;
  cursor: pointer;
  padding: 0;
  float: right;
}

.content .copy-link {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 47px;
  color: #525252;
}

.copy-input input {
  border: 1px solid #BBBBBB;
  width: 100%;
  height: 42px;
  border-radius: 50px;
  padding: 0 120px 0 39px;
  box-sizing: border-box;
}

.copy-input {
  position: relative;
  padding: 5px;
}

.copy-input .copy-link-button {
  position: absolute;
  right: 9px;
  top: 50%;
  background: #333333;
  transform: translate(0%, -50%);
  height: 35px;
  display: flex;
  align-items: center;
  border: 1px solid #333333;
  justify-content: center;
  border-radius: 17px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 10px;
  color: #fff;
  cursor: pointer;
}

.notification-text {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 47px;
  color: #525252;
}

.header-logo h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

@media(max-width: 1500px) {
  .header-logo h1 {
    font-size: 44px;
    line-height: 52px;
  }
}

@media(max-width: 1100px) {
  .container {
    /* width: 60%;
    max-width: 100%; */
  }

  .content {
    padding: 0 2%;
  }
}

@media(max-width: 1024px) {
  .container {
    max-width: 80%;
  }
}

@media(max-width: 768px) {
  .container {
    width: 80%;
    max-width: 100%;
    border-radius: 5px;
  }

  header.App-header {
    padding: 0 24px;
  }

  .content .payment-heading {
    font-size: 28px;
    line-height: 38px;
  }

  .content .copy-link {
    font-size: 18px;
    line-height: 20px;
  }

  .copy-input input {
    padding: 0 110px 0 18px;
  }

  .notification-text {
    font-size: 16px;
    line-height: 24px;
  }

  #modal {
    width: 85%;
  }

  .content {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .container {
    width: 80%;
    padding: 20px;
  }

  .header {
    font-size: 20px;
  }

  .title {
    font-size: 24px;
  }

  .row {
    flex-wrap: wrap;
  }

  .row .input-form {
    width: 100%;
  }

  .header p {
    font-size: 18px;
    line-height: 30px;
  }
}